/*** START SHARED ***/

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}

.content {
    width: 100%;
    max-width: 940px;
}

.button {
    background-color: #BED8FF;
    padding: 16px;
    color: black;
    border-radius: 8px;
    display: inline-block;
    font-weight: 400;
    border: black solid 1px;
    /* background: linear-gradient(180deg, #BED8FF 0%, #000C1D 100%); */
}

.button:hover {
    background-color: #000C1D;
    color: white;
    cursor: pointer;
}

.description {
    margin-bottom: 40px;
}

.footeraction {
    margin-top: 40px;
    position: relative;
    float: right;
}

/* .trees {
    position: absolute;
    top: 750px;
    display: flex;
    justify-content: center;
    width: 100%;
} */

.triangle-up {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 200px solid #000c1d;
    position: relative;
}

/*** END SHARED ***/

body {
    background-color: #000C1D;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#darkmodetoggle {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
    z-index: 10;
}

#about {
    padding-bottom: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(180deg, #000C1D 0%, #0049B6 100%);
    box-shadow: 0px 4px 7px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100% );
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100% );
    padding-top: 40px;
    height: 800px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    flex: 0 0 auto;
    margin-bottom: 80px;
}

#navheader {
    flex: 0 0 auto;
    justify-self: flex-start;
    font-size: 36px;
    font-weight: 300;
}

.navlinks {
    justify-self: flex-end;
    flex: 1 1 auto;
}

.navlink {
    margin-left: 16px;
    font-size: 20px;
    text-decoration: none;
    color: #a9cafc;
}

.navlink:hover {
    color: white;
}

.heading {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 36px;
}

#aboutContent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
}

#abouttext {
    flex: 1 1 50%;
    font-size: 18px;
    min-width: 250px;
    margin-bottom: 40px;
}

#header {
    color: white;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 40px;
}

#hand {
    height: 64px;
    width: 64px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

#engineer {
    font-weight: 400;
    font-size: 28px;
}

#lydia {
    position: relative;
    min-width: 250px;
    min-height: 300px;
    background-color: lightgrey;
    flex: 1 1 auto;
    margin-right: 80px;
    margin-bottom: 40px;
    color: black;
}

#getintouchbutton {
    margin-top: 20px;
    margin-top: 40px;
}

#work {
    background-color: initial;
    margin-bottom: 169px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#projects {
    transform: skewY(5deg);
    background: linear-gradient(180deg, #0049B6 0% 75%, #000C1D 75% 100%);
    display: flex;
    justify-content: center;
}

#projectscontent {
    transform: skewY(-5deg);
    margin-bottom: 20px;
    padding-top: 40px;
}

#projectscontainer, #workcontainer {
    display: flex;
    justify-content: space-between;
}

#projectscontainer {
    margin-bottom: 60px;
}

.project, .work {  
    background-color: lightgrey;
    width: 225px;
    height: 400px;
    border: black solid 2px;
}

#contact {
    position: relative;
    background: linear-gradient(175deg, #000C1D 0% 40%, #0049B6 40%, #000C1D 100%);
    clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
    -webkit-clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}