* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: lightgrey;
}

body {
    background-color: #011431;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    max-width: 1024px;
    margin-top: 20px;
    transform: skewY(5deg);
}

#navheader {
    flex: 0 0 auto;
    justify-self: flex-start;
    font-size: 36px;
    font-weight: 300;
}

.navlinks {
    justify-self: flex-end;
    flex: 1 1 auto;
}

.navlink {
    margin-left: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navlink:hover {
    /* text-decoration: underline; */
    color: white;
}

.heading {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 36px;
}

#about {
    /* height: 1000px; */
    /* margin-bottom: 80px; */
    top: -169px;
    transform: skewY(-5deg);
    height: 500px;
    position: relative;
    margin-top: -1px;
    padding-top: 169px;
    padding-bottom: 169px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #000C1D 0%, #0049B6 100%);
    box-shadow: 0px 4px 7px 4px rgba(0, 0, 0, 0.25);
}

#about::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(-5deg);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
}

#aboutContent {
    transform: skewY(5deg);
    display: flex;
    align-items: center;
    max-width: 1048px;
    margin-top: 100px;
}

#abouttext {
    flex: 1 1 auto;
    font-size: 18px;
    min-width: 250px;
}

#engineer {
    font-weight: 400;
    font-size: 28px;
}

#lydia {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: lightgrey;
    /* position: fixed; */
    flex: 0 0 auto;
    margin-right: 40px;
}

#skills {
    height: 1000px;
    /* margin-bottom: 80px; */
}

#work {
    background-color: initial;
    margin-bottom: 169px;
    display: flex;
    justify-content: center;
}

#projects {
    transform: skewY(5deg);
    background: linear-gradient(180deg, #0049B6 0% 75%, #000C1D 75% 100%);
    margin-bottom: 169px;
    display: flex;
    justify-content: center;
}

#workcontent {
    width: 100%;
    max-width: 1048px;
}

#projectscontent {
    transform: skewY(-5deg);
    width: 100%;
    max-width: 1048px;
}

#projectscontainer, #workcontainer {
    display: flex;
    justify-content: space-between;
}

.project, .work {  
    background-color: lightgrey;
    width: 225px;
    height: 400px;
    border: black solid 2px;
}

#contact {
    /* height: 200px; */
    /* transform: skewY(-5deg); */
    /* padding-bottom: 169px; */
    /* top: -169px; */
    position: relative;
    /* margin-top: -1px; */
    padding-top: 100px;
    background: linear-gradient(175deg, #0049B6 25%, #000C1D 100%);
    clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
    -webkit-clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
}

#contactcontent {
    /* transform: skewY(5deg); */
    padding: 40px;
    display: flex;
    flex-flow: column;
}

.section {
    padding: 40px;
    background-color: #0049B6;
    padding-left: 100px;
    padding-right: 100px;
}