* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: grey;
}

body {
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#navbar {
    /* position: fixed; */
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    max-width: 768px;
    margin-top: 20px;
    transform: skewY(5deg);
}

#navheader {
    flex: 0 0 auto;
    justify-self: flex-start;
    font-size: 36px;
    font-weight: 300;
}

.navlinks {
    justify-self: flex-end;
    flex: 1 1 auto;
}

.navlink {
    margin-left: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navlink:hover {
    /* text-decoration: underline; */
    color: white;
}

.heading {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 36px;
}

#about {
    /* height: 1000px; */
    /* margin-bottom: 80px; */
    top: -169px;
    transform: skewY(-5deg);
    height: 500px;
    position: relative;
    margin-top: -1px;
    padding: 169px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#about::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(-5deg);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
}

#aboutContent {
    transform: skewY(5deg);
    display: flex;
    align-items: center;
    max-width: 768px;
}

#abouttext {
    flex: 1 1 auto;
    font-size: 18px;
    min-width: 250px;
}

#engineer {
    font-weight: 400;
    font-size: 28px;
}

#lydia {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: darkolivegreen;
    /* position: fixed; */
    flex: 0 0 auto;
    margin-right: 40px;
}

#skills {
    height: 1000px;
    /* margin-bottom: 80px; */
}

#projectscontainer {
    display: flex;
    justify-content: space-between;
}

.project {  
    background-color: darkolivegreen;
    width: 300px;
    height: 300px;
}

#contact {
    height: 200px;
}

.section {
    margin-bottom: 80px;
    /* border: black solid 2px; */
    background-color: rgb(241, 241, 241);
    padding: 40px;
    background-color: darkslategray;
}

/* .animated {
    position: relative;
    animation-timing-function: ease-out;
}

#puzzles {
    animation: puzzles 10s infinite;
}

#learning {
    animation: learning 10s infinite;
}

#tennis {
    animation: tennis 10s infinite;
}

@keyframes puzzles {
    0% {top: 50px; display: inline;}
    30% {top: 0px; display: inline;}
    31% {visibility: hidden; width: 0; height: 0; display: block;}
    100% {visibility: hidden; width: 0; height: 0; display: block;}
}
  
@keyframes learning {
    0% {visibility: hidden; width: 0; height: 0; display: block;}
    33% {visibility: hidden; width: 0; height: 0; display: block;}
    34% {visibility: initial; top: 50px; display: inline;}
    64% {top: 0px; display: inline;}
    65% {visibility: hidden; width: 0; height: 0; display: block;}
    100% {visibility: hidden; width: 0; height: 0; display: block;}
}

@keyframes tennis {
    0% {visibility: hidden; width: 0; height: 0; display: block;}
    67% {visibility: hidden; width: 0; height: 0; display: block;}
    68% {visibility: initial; top: 50px; display: inline;}
    100% {top: 0px; display: inline;}
} */