/*** START SHARED ***/

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}

.content {
    width: 100%;
    max-width: 940px;
}

.button {
    background-color: #BED8FF;
    padding: 16px;
    color: black;
    border-radius: 8px;
    display: inline-block;
    font-weight: 400;
    border: black solid 1px;
    /* background: linear-gradient(180deg, #BED8FF 0%, #000C1D 100%); */
}

.button:hover {
    background-color: #000C1D;
    color: white;
    cursor: pointer;
}

.description {
    margin-bottom: 40px;
}

.footeraction {
    margin-top: 40px;
    position: relative;
    float: right;
}

/*** END SHARED ***/

body {
    background-color: #000C1D;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#darkmodetoggle {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
    z-index: 10;
}

.smallstar {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    z-index: 100;
    animation: blinker 3s ease-in-out infinite;
    opacity: 0.95;
}

.largestar {
    position: absolute;
    background-color: white;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    z-index: 100;
    animation: blinker 3s ease-in-out infinite;
    opacity: 0.75;
}

#star1 {
    top: 10px;
    left: 10%;
    animation-delay: 1.5s;
}

#star2 {
    top: 250px;
    left: 80%;
    animation-delay: 1s;
}

#star3 {
    top: 50px;
    left: 40%;
    animation-delay: 2.5s;
}

#star4 {
    top: 500px;
    left: 60%;
    animation-delay: 0.5s;
}

#star5 {
    top: 550px;
    left: 30%;
    animation-delay: 2s;
}

#star6 {
    top: 100px;
    left: 5%;
    animation-delay: 2s;
}

#star7 {
    top: 150px;
    left: 70%;
    animation-delay: 2s;
}

#star8 {
    top: 350px;
    left: 35%;
    animation-delay: 2s;
}

#star9 {
    top: 400px;
    left: 80%;
    animation-delay: 2s;
}

#star10 {
    top: 525px;
    left: 90%;
    animation-delay: 2s;
}

.shootingstar {
    position: absolute;
    animation: shootingstar 10s ease-in infinite;
    animation-delay: 3s;
    height: 100px;
    width: 5px;
    background: linear-gradient(
-45deg
, rgba(255, 255, 255, 1), rgba(0, 0, 255, 0));
    /* border-radius: 999px; */
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    z-index: 100;
    transform: rotate(-65deg);
}

/* #moon {
    position: absolute;
    top: 50px;
    left: 40%;
    background-color: white;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    z-index: 100;
    animation: blinker 5s ease-in-out infinite;
    opacity: 0.75;
} */

@keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }

@keyframes shootingstar {
    0% {
        left: -100px;
        top: 20px;
        opacity: 1;
    }
    30% {
        top: 600px;
        left: 120%;
        opacity: 1;
    }
    31% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

    /* TODO: Hide shooting star at the end */
}

#about {
    /* padding-bottom: 100px; */
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(180deg, #000C1D 0%, #0049B6 100%);
    box-shadow: 0px 4px 7px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100% );
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100% );
    padding-top: 40px;
    height: 100vh;
    min-height: 550px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    flex: 0 0 auto;
    /* margin-bottom: 80px; */
}

#navheader {
    flex: 0 0 auto;
    justify-self: flex-start;
    font-size: 36px;
    font-weight: 300;
}

.navlinks {
    justify-self: flex-end;
    flex: 1 1 auto;
}

.navlink {
    margin-left: 16px;
    font-size: 20px;
    text-decoration: none;
    color: #a9cafc;
}

.navlink:hover {
    color: white;
}

.heading {
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 36px;
}

#aboutContent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
}

#abouttext {
    flex: 1 1 50%;
    font-size: 18px;
    min-width: 250px;
    margin-bottom: 40px;
}

#header {
    color: white;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 40px;
}

#hand {
    height: 64px;
    width: 64px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

#engineer {
    font-weight: 400;
    font-size: 28px;
}

#lydia {
    position: relative;
    min-width: 250px;
    min-height: 300px;
    background-color: lightgrey;
    flex: 1 1 auto;
    margin-right: 80px;
    margin-bottom: 40px;
    color: black;
}

#getintouchbutton {
    margin-top: 20px;
    margin-top: 40px;
}

#work {
    background-color: initial;
    margin-bottom: 169px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.project {  
    min-width: 225px;
    max-width: 275px;
    flex: 1 1 auto;
    border: black solid 2px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#workcontainer {
    display: flex;
    flex-flow: row wrap;
}

.work {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 15px;
    background-color: #0049B6;
}

#mocaimg {
    width: 75%;
    border-radius: 10px;
}

#mocaimgwrap {
    overflow: hidden;
    width: 275px;
    height: 275px;
    margin-bottom: 28px;
    border-radius: 5px;
}

#mocaimgdiv {
    background-image: url('moca.png');
    height: 100%;
    transition: 0.5s all ease-out;
    background-size: cover;
    width: 100%;
    /* border: 1px white solid; */
}

#mocaimgdiv:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#mocadescription {
    color: white;
    /* width: 190px; */
    background-color: #0049B6;
    padding: 0 20px;
}

/* #mocaimg {
    object-fit: cover;
    width: inherit;
    height: inherit;
} */

#projects {
    transform: skewY(5deg);
    background: linear-gradient(180deg, #0049B6 0% 75%, #000C1D 75% 100%);
    display: flex;
    justify-content: center;
}

#projectscontent {
    transform: skewY(-5deg);
    margin-bottom: 20px;
    padding-top: 40px;
}

#projectscontainer {
    display: flex;
    justify-content: space-between;
}

#projectscontainer {
    margin-bottom: 60px;
}

#contact {
    position: relative;
    background: linear-gradient(175deg, #000C1D 0% 40%, #0049B6 40%, #000C1D 100%);
    clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
    -webkit-clip-path: polygon(
        0% 75px, 
        100% 0%, 
        100% 100%, 
        0% 100% );
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}